@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="recipeDialog"> 
            <div class="recipePage overflow-auto">                
                <div class="container-fluid" style="height: 600px; overflow-y: scroll;">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="o-Recipe">

                                <div class="attribution">
                                    <div class="o-Attribution">
                                        <div class="o-Attribution__m-Body">
                                            <div class="o-Attribution__m-MediaWrap">
                                                <a href="//www.foodnetwork.com/profiles/talent/giada-de-laurentiis">
                                                    <img class="o-Attribution__a-Image" src="img/recipes/giada-de-laurentiis.jpeg">
                                                </a>
                                            </div>
                                            <div class="o-Attribution__m-TextWrap">
                                                <div class="o-Attribution__m-Author">
                                                    <span class="o-Attribution__a-Author--Prefix">
                                                        <span class="o-Attribution__a-Name">
                                                            <a href="//www.foodnetwork.com/profiles/talent/giada-de-laurentiis">Recipe courtesy of Giada De Laurentiis</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <div class="assetTitle">                                    
                                    <section class="o-AssetTitle">
                                        <h3 class="o-AssetTitle__a-Headline">
                                            <span class="o-AssetTitle__a-HeadlineText">Pizza with Fresh Tomatoes and Basil</span>
                                        </h3>                                        
                                    </section>
                                </div>

                                <div class="o-RecipeInfo">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="o-RecipeInfo__m-Level" style="list-style: none">
                                                <li>
                                                    <span class="o-RecipeInfo__a-Headline">Level:</span>
                                                    <span class="o-RecipeInfo__a-Description">Easy</span>
                                                </li>
                                                <li>
                                                    <span class="o-RecipeInfo__a-Headline m-RecipeInfo__a-Headline--Total">Total:</span>
                                                    <span class="o-RecipeInfo__a-Description m-RecipeInfo__a-Description--Total">30 min</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="o-RecipeInfo__m-Time" style="list-style: none">
                                                <li>
                                                    <span class="o-RecipeInfo__a-Headline">Prep:</span>
                                                    <span class="o-RecipeInfo__a-Description">15 min</span>
                                                </li>
                                                <li>
                                                    <span class="o-RecipeInfo__a-Headline">Cook:</span>
                                                    <span class="o-RecipeInfo__a-Description">15 min</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="o-RecipeInfo__m-Yield" style="list-style: none">
                                                <li>
                                                    <span class="o-RecipeInfo__a-Headline">Yield:</span>
                                                    <span class="o-RecipeInfo__a-Description">4 to 8 servings</span>
                                                </li>
                                                <li>
                                                    <span style="display: none" class="clicktracking" data-resource-type="sni-foundation/components/recipe/nutritionInfo"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-md-6">                           
                            <section>
                                <section class="o-Ingredients">

                                    <header class="o-Ingredients__m-Header">
                                        <div class="o-Ingredients__m-TextWrap">
                                            <h3 class="o-Ingredients__a-Headline">
                                                <span class="o-Ingredients__a-HeadlineText">Ingredients</span>
                                            </h3>
                                        </div>
                                    </header>

                                    <div class="o-Ingredients__m-Body">
                                        <p class="o-Ingredients__a-Ingredient">1 tablespoon yellow cornmeal</p>

                                        <p class="o-Ingredients__a-Ingredient">Two 8-ounce pieces of homemade or purchased Pizza Dough, recipe follows</p>

                                        <p class="o-Ingredients__a-Ingredient">6 teaspoons extra-virgin olive oil</p>

                                        <p class="o-Ingredients__a-Ingredient">1 1/3 cups, grated pasteurized mozzarella</p>

                                        <p class="o-Ingredients__a-Ingredient">2 Roma tomatoes, cut crosswise into 1/4-inch-thick slices</p>

                                        <p class="o-Ingredients__a-Ingredient">1/4 cup grated Parmesan</p>

                                        <p class="o-Ingredients__a-Ingredient">1 large garlic clove, minced, optional</p>

                                        <p class="o-Ingredients__a-Ingredient">6 fresh basil leaves, plus extra for garnish</p>

                                        <p class="o-Ingredients__a-Ingredient">1/2 teaspoon salt</p>

                                        <h6 class="o-Ingredients__a-SubHeadline">
                                            Pizza Dough:
                                        </h6>

                                        <p class="o-Ingredients__a-Ingredient">1/2 cup warm water (105 to 110 degrees F)</p>

                                        <p class="o-Ingredients__a-Ingredient">2 teaspoons dry yeast</p>

                                        <p class="o-Ingredients__a-Ingredient">2 cups all-purpose flour</p>

                                        <p class="o-Ingredients__a-Ingredient">1 teaspoon salt</p>

                                        <p class="o-Ingredients__a-Ingredient">3 tablespoons olive oil</p>
                                    </div>

                                    <div class="o-Ingredients__m-Footer">
                                        <div id="dfp_native_ingredient" style="display: none;" data-google-query-id="CKKo69LS3uMCFcbMsgodr70O1A" class="is-AdCollapsed"><div id="google_ads_iframe_109359770/food/recipes/giada_de_laurentiis_7__container__" style="border: 0pt none; margin: auto; text-align: center; width: 1px; height: 15px;"></div></div>
                                    </div>
                                    @*<div id="CCKU-VPLO-TYHX-LNGN" class="whisk-container">
                                    <script>
                                        whisk.queue.push(function () {
                                            whisk.display("CCKU-VPLO-TYHX-LNGN");
                                        });
                                    </script>
                                    <iframe src="https://cdn.whisk.com/sdk/add-to-list-foodnetwork-com-widget.html" style="border: 0px; height: 124px; width: 100%;"></iframe>
                                </div>*@
                                </section>
                            </section>
                        </div>
                        @*</div>*@

                        <div class="col-md-6">
                            @*<div class="bodyRight">*@
                            <header class="o-Method__m-Header">
                                <div class="o-Method__m-TextWrap">
                                    <h3 class="o-Method__a-Headline">
                                        <span class="o-Method__a-HeadlineText">Directions</span>
                                    </h3>
                                </div>
                            </header>

                            <section class="o-Method" data-module="recipe-method" data-read-more-target="" id="mod-recipe-method-1">
                                <div class="o-Method__m-Body">
                                    <ol style="list-style: none">
                                        <li class="o-Method__m-Step">                                            
                                            Position 1 oven rack in the center and the second rack on the bottom of the oven and preheat to 450 degrees F. Sprinkle the cornmeal over 2 rimless baking sheets. Roll out each piece of Pizza Dough into a 10 to 11-inch-diameter round. Transfer 1 dough to each prepared baking sheet.
                                        </li>
                                        <li class="o-Method__m-Step">
                                            Drizzle 2 teaspoons of oil over each Pizza Dough. Sprinkle the mozzarella over the Pizza Dough, dividing equaling and leaving a 1-inch border around each pizza. Arrange the tomato slices in a single layer over the cheese. Sprinkle with the Parmesan. Arrange basil leaves on top, drizzle with a little more olive oil and sprinkle garlic all over. Bake the pizzas until the crusts are crisp and brown on the bottom and the cheese is melted on top, about 15 minutes. Drizzle 1 teaspoon of oil over each pizza. Sprinkle with basil for garnish and salt. Cut the pizza into wedges and serve immediately.
                                        </li>
                                    </ol>
                                    <h4 class="o-Method__a-SubHeadline">
                                        Pizza Dough:
                                    </h4>
                                    <ol style="list-style: none">
                                        <li class="o-Method__m-Step">
                                            Mix the warm water and yeast in a small bowl to blend. Let stand until the yeast dissolves, about 5 minutes. Mix the flour and salt in a food processor to blend. Blend in the oil. With the machine running, add the yeast mixture and blend just until the dough forms. Turn the dough out onto lightly floured surface and knead until smooth, about 1 minute. Transfer the dough to a large oiled bowl and turn the dough to coat with the oil. Cover the bowl with plastic wrap and set aside in a warm draft-free area until the dough doubles in volume, about 1 hour. Punch the down dough and divide into 2 equal balls. (The dough can be used immediately or stored airtight in the refrigerator for 1 day.)
                                        </li>
                                    </ol>
                                </div>
                            </section>
                            <section class="bodyRight-footer">
                            </section>
                        </div>
                    </div>
                    @*</section>*@
                </div>
                @*</div>*@
            </div>
        @*</div>*@
        @*</div>*@

        @*<div class="d-flex p-1 bd-highlight justify-content-between">
                <div class="p-0">
                    <h2>@Pizza.Special.Name</h2>
                    @Pizza.Special.Description
                </div>
                <div class="p-0">
                    <button class="btn btn-info mr-auto" @onclick="@OnRecipe">Recipe</button>
                </div>
            </div>*@
        @*</div>*@

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="@OnCancel">Cancel</button>
            @*<span class="mr-center">
                Price: <span class="price">@(Pizza.GetFormattedTotalPrice())</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="@OnConfirm">Order ></button>*@
        </div>
    </div>
</div>

@code {
    List<Topping>
    toppings;

    [Parameter] Pizza Pizza { get; set; }
    [Parameter] EventCallback OnCancel { get; set; }
    [Parameter] EventCallback OnConfirm { get; set; }
    [Parameter] EventCallback OnRecipe { get; set; }

    protected async override Task OnInitAsync()
    {
        toppings = await HttpClient.GetJsonAsync<List<Topping>>("toppings");
    }

    void ToppingSelected(UIChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            AddTopping(toppings[index]);
        }
    }

    void AddTopping(Topping topping)
    {
        if (Pizza.Toppings.Find(pt => pt.Topping == topping) == null)
        {
            Pizza.Toppings.Add(new PizzaTopping() { Topping = topping });
        }
    }

    void RemoveTopping(Topping topping)
    {
        Pizza.Toppings.RemoveAll(pt => pt.Topping == topping);
    }
}


@*<div class="o-RecipeInfo">
        <ul class="o-RecipeInfo__m-Level">
            <li>
                <span class="o-RecipeInfo__a-Headline">Level:</span>
                <span class="o-RecipeInfo__a-Description">Easy</span>
            </li>
            <li>
                <span class="o-RecipeInfo__a-Headline m-RecipeInfo__a-Headline--Total">Total:</span>
                <span class="o-RecipeInfo__a-Description m-RecipeInfo__a-Description--Total">30 min</span>
            </li>
        </ul>
        <ul class="o-RecipeInfo__m-Time">
            <li>
                <span class="o-RecipeInfo__a-Headline">Prep:</span>
                <span class="o-RecipeInfo__a-Description">15 min</span>
            </li>
            <li>
                <span class="o-RecipeInfo__a-Headline">Cook:</span>
                <span class="o-RecipeInfo__a-Description">15 min</span>
            </li>
        </ul>
        <ul class="o-RecipeInfo__m-Yield">
            <span style="display: none" class="clicktracking" data-resource-type="sni-foundation/components/recipe/yield"></span>
            <li>
                <span class="o-RecipeInfo__a-Headline">Yield:</span>
                <span class="o-RecipeInfo__a-Description">4 to 8 servings</span>
            </li>
            <span style="display: none" class="clicktracking" data-resource-type="sni-foundation/components/recipe/nutritionInfo"></span>
        </ul>
    </div>*@


@*<form class="dialog-body">
        <div>
            <label>Size:</label>
            <input type="range" min="@Pizza.MinimumSize" max="@Pizza.MaximumSize" step="1" @bind-value="@Pizza.Size" @bind-value:event="oninput" />
            <span class="size-label">
                @(Pizza.Size)" (£@(Pizza.GetFormattedTotalPrice()))
            </span>
        </div>
        <div>
            <label>Extra Toppings:</label>
            @if (toppings == null)
            {
                <select class="custom-select" disabled>
                    <option>(loading...)</option>
                </select>
            }
            else if (Pizza.Toppings.Count >= 6)
            {
                <div>(maximum reached)</div>
            }
            else
            {
                <select class="custom-select" @onchange="@ToppingSelected">
                    <option value="-1" disabled selected>(select)</option>
                    @for (var i = 0; i < toppings.Count; i++)
                    {
                        <option value="@i">@toppings[i].Name - (£@(toppings[i].GetFormattedPrice()))</option>
                    }
                </select>
            }
        </div>

        <div class="toppings">
            @foreach (var topping in Pizza.Toppings)
            {
                <div class="topping">
                    @topping.Topping.Name
                    <span class="topping-price">@topping.Topping.GetFormattedPrice()</span>
                    <button type="button" class="delete-topping" @onclick="@(() => RemoveTopping(topping.Topping))">x</button>
                </div>
            }
        </div>
    </form>*@